.main-content
{
	background-color: #FFFFFF;
	margin: 5px;
}

main a
{
	display:block;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;	

	background-color: #FCFCFC;
	border-bottom: 3px solid #D8D8D8;


	font-family: ArialMT;
	font-size: 3em;

	color: #5F5F5F;
	line-height: 16px;
}

/*main a:first-child*/
.list-title
{
	margin-top: 10px;

	background-color: #F3F3F3;
	font-family: Helvetica-Bold;
	font-size: 3.4em;
	color: #76C3EF;
}

main a div
{
	vertical-align:middle;
	display: inline-block;
	overflow: hidden;

	line-height: 1.2em;

	padding-top: 9px;
	padding-bottom: 9px;
}

.list-item
{
	padding: 6px 70px 6px 20px;
}

.list-content
{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.list-header
{
	padding-left: 70px;	
}

.side-image-h32
{
	position: absolute;	
	height: 64px;
	top: 50%;
	margin-top: -32px;
	background-repeat: no-repeat;	
}

.side-image-h12
{
	position: absolute;	
	height: 12px;
	top: 50%;
	margin-top: -6px;
	background-repeat: no-repeat;	
}

.nav-header
{
	background-image: url("../images/arrow_right_hover.png");
	width: 64px;

	background-size: 64px 64px;
	right: 12px;
}

.nav-item
{
	background-image: url("../images/arrow.png");
	width: 14px;

	background-size: 14px 24px;
	right: 36px;
}

.menu-icon1
{
	background-image: url("../images/pic1.png");
	width: 58px;
	background-size: 58px 64px;
	left: 6px;
}

.menu-icon2
{
	background-image: url("../images/pic2.png");
	width: 58px;
	background-size: 58px 64px;
	left: 6px;
}

.clear
{
	float:none;
}





