main a
{
	display:block;
	margin-left: 4px;
	margin-right: 4px;
	position: relative;	

	background-color: #FCFCFC;
	border-bottom: 1px solid #D8D8D8;


	font-family: ArialMT;
	/*font-size: 1em;*/

	color: #5F5F5F;
}

.list-title
{
	margin-top: 3px;

	background-color: #F3F3F3;
	font-family: Helvetica-Bold;
	font-size: 1.28em;
	color: #76C3EF;
}

.list-text 
{
	font-size: 1.1em;
}

main a div
{
	vertical-align:middle;
	display: inline-block;
	overflow: hidden;

	padding-top: 3px;
	padding-bottom: 3px;
}

.list-item
{
	padding: 6px 70px 6px 20px;
}

.list-content
{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.list-header
{
	padding-left: 25px;	
}

.side-image-h32
{
	position: absolute;	
	height: 32px;
	top: 50%;
	margin-top: -16px;
	background-repeat: no-repeat;	
}

.side-image-h12
{
	position: absolute;	
	height: 18px;
	top: 50%;
	margin-top: -9px;
	background-repeat: no-repeat;	
}

.nav-header
{
	background-image: url("../images/arrow_right_hover.png");
	width: 32px;

	background-size: 32px 32px;
	right: 6px;
}

.nav-item
{
	background-image: url("../images/arrow.png");
	width: 15px;

	background-size: 15px 18px;
	right: 12px;
}

.menu-icon1
{
	background-image: url("../images/pic1.png");
	width: 29px;
	background-size: 29px 32px;
	left: 3px;
}

.menu-icon2
{
	background-image: url("../images/pic2.png");
	width: 29px;
	background-size: 29px 32px;
	left: 3px;
}

.clear
{
	float:none;
}





